* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    padding: 10px 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #fff;
    margin-left: 3em;
}

